@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4e3d42;
}

.class-icon-wrapper{
    display: flex;
    flex-direction: row;
}

.class-icon {
    display: flex;
    flex-direction: column;

    margin: 4px;
}

.span-navbar {
    font-size: 1.1em;
    font-weight: 700;
    color: black;
    text-shadow: 0 0 9px rgb(207, 192, 192);
    font-family: MedievalSharp, monospace;
}

.global-span-points-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 0.9em;
    font-weight: 700;
    font-family: MedievalSharp, monospace;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 4px;
    background-color: black;
    color: white;
}

/* .label-global-span-points {

} */

.span-global-span-points {
    margin-left: 3px;
}

.div-points {
    border: 1px solid black;
    border-radius: 0.5em;
    /* font-family: MedievalSharp, monospace; */
    padding: 2px;
    position:absolute; right: 10px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.span-del-point {
    font-family: MedievalSharp, monospace;

}

.img-del-points {
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

.class-icon-img {

    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 36px;
    border:2px solid black;
    border-radius: 0.8em;
}

.talent-tree-wrapper {
    display: flex;
    flex-direction: row;
    /* z-index: 1; */
}

.talent-tree-header {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding-bottom: 5px;
    align-items: center;
    z-index: 4;

}

.img-header-icon {
    border: 2px solid black;
    border-radius: 0.5em;
}

.span-header {
    font-size: 1.1em;
    font-weight: 700;
    color: black;
    margin-left: 10px;
    text-shadow: 0 0 9px rgb(207, 192, 192);
    font-family: MedievalSharp, monospace;
}

.talent-tree {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    margin: 10px;
    position: relative;
    padding: 5px;
    /* z-index: 3; */
}

.talent-tree-background {
    background-size: cover;
    background-position: center;
    z-index: -2;
    position: absolute;
    height: 100%;
    width: 100%;
    filter: sepia(90%) blur(0.8px) opacity(80%);
    top: 0px;
    left: 0px;

}

.talent-line {
    display: flex;
    flex-direction: row;
    position: relative;
}

.talent-div {
    position: relative;
    background-color: transparent;
    margin: 8px;
    width: 36px;
    height: 36px;
    border-radius: 0.2em;
    transform: perspective(40px) rotateX(5deg);
    z-index: 4;

}

.talent-span {
    color: white;
    background-color: black;
    padding-left: 2px;
    padding-right: 2px;
    font-size: smaller;
    border-radius: 0.2em;
    position: absolute;
    bottom: -30%;
    right: -30%;

}

.talent-div:active {
    position: relative;
    top: 3px;
}

.talent-img {
    width: 36px;
    height: 36px;
    border:2px solid black;
    border-radius: 0.2em;

}

.talent-img-disable {
    width: 36px;
    height: 36px;
    border:2px solid black;
    border-radius: 0.2em;
    filter: grayscale(100%);

}

.info-div-to-display {
    transform: none;
    display: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
    background-color: black;
    z-index: -1;
    height: 60px;
    width: 200px;
    border-radius: 0.2em;   
    padding: 4px;
    opacity: 0.8;
}

.span-talent-info {
    color: white;
    
}